.qian-color {
  color: @color-qian;
}
.kun-color {
  color: @color-kun;
}
.zhen-color {
  color: @color-zhen;
}
.xun-color {
  color: @color-xun;
}
.kan-color {
  color: @color-kan;
}
.li-color {
  color: @color-li;
}
.gen-color {
  color: @color-gen;
}
.dui-color {
  color: @color-dui;
}


.qian-inverse-bgcolor {
  background-color: @color-qian-inverse;
}
.kun-inverse-bgcolor {
  background-color: @color-kun-inverse;
}
.zhen-inverse-bgcolor {
  background-color: @color-zhen-inverse;
}
.xun-inverse-bgcolor {
  background-color: @color-xun-inverse;
}
.kan-inverse-bgcolor {
  background-color: @color-kan-inverse;
}
.li-inverse-bgcolor {
  background-color: @color-li-inverse;
}
.gen-inverse-bgcolor {
  background-color: @color-gen-inverse;
}
.dui-inverse-bgcolor {
  background-color: @color-dui-inverse;
}
